// Auto genetated file
[
{
"name" : "x25519 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519" 
}
]
