// Auto genetated file
[
{
"name" : "blake2b - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "blake2b" 
}
]
