// Auto genetated file
[
{
"name":"p1305 - x86_16",
"files":"all",
"machdep":"x86_16",
"main":"p1305"
},
{
"name":"p1305 - x86_huge",
"files":"all",
"machdep":"x86_huge",
"main":"p1305"
},
{
"name":"p1305 - x86_32",
"files":"all",
"machdep":"x86_32",
"main":"p1305"
},
{
"name":"p1305 - x86_64",
"files":"all",
"machdep":"x86_64",
"main":"p1305"
},
{
"name":"blake2b - x86_16",
"files":"all",
"machdep":"x86_16",
"main":"blake2b"
},
{
"name":"blake2b - x86_huge",
"files":"all",
"machdep":"x86_huge",
"main":"blake2b"
},
{
"name":"blake2b - x86_32",
"files":"all",
"machdep":"x86_32",
"main":"blake2b"
},
{
"name":"blake2b - x86_64",
"files":"all",
"machdep":"x86_64",
"main":"blake2b"
}]
